@import "../../../../sass//main.scss";
.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  &-main {
    animation: open .4s cubic-bezier(0,1.02,.43,.99) forwards;
    background: var(--background-color);
    border-radius: 4px;
    overflow: hidden;
    width: 360px;
    box-shadow: 0 0 3px 1px var(--color);
  }
  &-header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    align-items: center;
  }
  &-title {
    color: $color-input;
    font-weight: bold;
    font-size: 20px;
  }
  &-close {
    font-size: 45px;
    cursor: pointer;
    color: var(--color);
    transition: $deplay-3s;
    &:hover {
      color: red;
    }
  }
  &-loading {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-list {
    padding: 0 15px;
    height: 300px;
    overflow: auto;
  }
  &-no {
    color: var(--color);
    margin-top: 15px;
  }
}

@keyframes open {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(100%);
  }
}