@import "../../sass/main.scss";
.header {
  margin-left: $width;
  padding: 15px;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
  background: var(--background-color);
  transition: $deplay-3s;
  &-left {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex: 2;
    align-items: center;
    padding: 0 20px;
    border-right: 1px solid #ccc;
    .header-logo {
      font-size: 20px;
      text-transform: uppercase;
      color: var(--color-logo);
      transition: $deplay-3s;
      flex: 2;
    }
    .notification {
      @include roundShape(40px);
      border: 2px solid #ccc;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      color: var(--color-notification);
      cursor: pointer;
      transition: $deplay-25s;
      & i {
        transition: $deplay-25s;
      }
      & span {
        position: absolute;
        top: 0;
        right: 0;
        @include roundShape(15px);
        background: $red;
        color: #fff;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-5px);
      }
      &:hover,
      &:hover i {
        border-color: $color-input;
        color: $color-input;
      }
    }
    .notifications {
      position: absolute;
      right: 17px;
      top: 100%;
      display: flex;
      flex-direction: column;
      width: 300px;
      line-height: 150%;
      color: var(--color);
      background: var(--background-color);
      z-index: 20;
      box-shadow: 0 0 3px 2px var(--color);
      border-radius: 5px;
      font-size: 14px;
      height: 400px;
      overflow: hidden;
      &--list {
        height: inherit;
        width: inherit;
        overflow: auto;
      }
      &-title {
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid #ccc;
      }
      & .no-notifications {
        text-align: center;
        padding: 15px;
      }
      &-item {
        padding: 15px;
        transition: $deplay-3s;
        cursor: pointer;
        border-bottom: 1px solid #ccc;
        display: flex;
        &:last-child {
          border-bottom: 0;
        }
        &:hover {
          background: var(--background-hover);
          border-radius: 5px;
        }
        &--img {
          @include roundShape(40px);
          margin-right: 15px;
          flex-shrink: 0;
          background-color: #ffd271;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          font-weight: bold;
          color: #000;
        }
      }
    }
  }
  &-toggle--mode {
    display: flex;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 2px 3px;
    background: #4d4d4d;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    &-light {
      margin-right: 5px;
    }
    &:hover .header-toggle--change {
      box-shadow: 0 0 2px 2px #1597bb;
    }
  }

  &-toggle--change {
    @include roundShape(22px);
    position: absolute;
    right: 2px;
    background: #fff;
    transition: all 0.2s linear 0s;
    touch-action: pan-x;
    cursor: pointer;
  }

  &-right {
    display: flex;
    padding: 0 15px;
    align-items: center;
    color: var(--color-notification);
    transition: $deplay-3s;
  }
  &-img {
    @include roundShape(50px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-input;
    color: #fff;
    font-size: 20px;
  }
  &-name {
    font-weight: 700;
    margin: 0 8px;
    transition: color 0.2s linear 0s;
    &:hover {
      color: $color-input;
    }
    & i {
      margin-left: 3px;
    }
  }
  &-logout {
    cursor: pointer;
    transition: color 0.2s linear 0s;
    color: var(--color-notification);
    transition: $deplay-3s;
    &:hover {
      color: $red;
    }
  }
}
